.mainproject {
  display: flex;
  width: 100vw;
  overflow: hidden;
 
}
.subproject {
  margin-top: 100px;
  flex: 1;
  /* border: 1px soli black; */
}
.sub1 {
  margin-top: 100px;
  flex: 1;
  /* border: 1px solid black; */
}

.imghandler:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.projectimg {
  width: 90%;
  /* object-fit: cover; */
  /* height:300px; */
  margin: 35px;
  border-radius: 5px;
  /* border: 1px solid #444; */
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.all {
  margin: 60px 30px 60px 70px;
  display: flex;
  /* margin-top: -10px; */
  flex-direction: column;
}
.projectdesc {
  /* margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-style: "poppins",sans-serif;
    font-weight: 500; */
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 400;

  color: rgb(41, 40, 40);
  text-align: justify;
  width: 90%;
  font-family: "Poppins", sans-serif;
}
.projecttitle {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: rgb(41, 40, 40);
  font-weight: 600;
}
.githuburl {
  margin-top: 10px;
  font-weight: 500;
  color: rgb(41, 40, 40);
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 1150px) {
  .sub1 {
    margin-top: 0px;
    flex: 1;
    /* border: 1px soli black; */
  }
  .mainproject {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projectimg {
    margin: 30px;
  }
}
@media screen and (max-width: 850px) {

  .all{
    margin:30px 40px;
  }
}

@media screen and (max-width: 459px) {
  .projectimg {
    height: 200px;
    margin: 20px;
  }
  .projecttitle {
    margin-top: -70px;
    font-size: 20px;
   float: right;
  }
  .all{
    margin:80px 40px;
  }
}
@media screen and (max-width: 367px) {

  .all{
    margin:80px 20px 20px 50px;
    
  }
  .projectdesc{
    
  }
}

