.main-details {
  display: flex;
  border-bottom: 1px solid rgb(148, 136, 136);
  width: 100%;
  height: 100vh;
  background-color: rgb(218, 227, 228);
}
.details-right {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin: 40px 50px;
}
.details-left {
  flex: 1;
  
}
.details-title {
  
  font-size: 40px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  color: crimson;
  border-bottom: 1px solid black;
 
}
.sbtitle {
  margin: 30px 0px 0px;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  color: #444;
}
.sbpar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 40px 0px;
  font-size: 22px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: rgb(7, 7, 7);
  width: 90%;
  
}
.details-str{
  margin: 30px 0px 0px;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  color: #444;
}
.strenghts-list{
display: flex;
}
.ider{
  display: flex;align-items: center;font-size: 22px;font-family: "poppins", sans-serif;
  font-weight: 400;
  color: rgb(7, 7, 7);
}
.skills-details{
  margin: 80px 30px;
  
}
h3{
  font-family: "poppins", sans-serif;
  font-weight: 300;
  color: #444;
  font-size: 20px;
}
.sliller{
  font-size: 30px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  color: #444;
}
.bar{
  background:#f1f3f7;
  display: block;
  height: 10px;
  border-radius: 1 0px;
  overflow: hidden;
  text-decoration: none;
}
 .details-li {
  list-style: none;
  margin:35px 10px;
  
}
.bar span{
  height: 10px;
  float: left;
  background:teal;
}
.html{
  width: 90%;
  animation: html 2s;
}
.css{
  width: 80%;
  animation: css 2s;
}
.j{
  width: 75%;
  animation: j 2s;
}
.node{
  width: 65%;
  animation: react 2s;
}
.git{
  width: 90%;
  animation: html 2s;
}
.mongo{
  width: 70%;
  animation: css 2s;
}
.js{
  width: 80%;
  animation: j 2s;
}
.html1{
  width: 90%;
  animation: html 2s;
}
.css1{
  width: 90%;
  animation: css 2s;
}
.j1{
  width: 75%;
  animation: j 2s;
}
.node1{
  width: 75%;
  animation: react 2s;
}
.git1{
  width: 90%;
  animation: html 2s;
}
.mongo1{
  width: 70%;
  animation: css 2s;
}
.js1{
  width: 80%;
  animation: j 2s;
}
.react1{
  width: 85%;
  animation: react 2s;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes j{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
@keyframes node{
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
@keyframes git{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes mongo{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes js{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes react{
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
@keyframes html1{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css1{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes j1{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
@keyframes node1{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
@keyframes git1{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes mongo1{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes js{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@media screen and (max-width:790px){
  .main-details{
    display: flex;flex-direction: column;
width: 100%;
  height: auto;
  }
  .details-left{
  
  }

  }
  @media screen and (min-width:1400px) and (max-width:2600px) {
    .main-details{
      display: flex;
  width: 100%;
    height: auto;
    }
    .details-left{
    
    }
    
    }