:root {
  --background-image: linear-gradient(
    120deg,
    rgb(35, 58, 54),
    rgba(29, 97, 84, 0.67)
  );
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: aliceblue;
}
img {
  max-width: 100%;
  /* margin-bottom: 20px; */
}
.homepage {
  background-image: url("https://images.pexels.com/photos/1076758/pexels-photo-1076758.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homepage .over {
    background-image: var(--background-image);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
h1{
  font-family: 'Open Sans', sans-serif;
    color: #f5deb3;
    font-size: 67px;
    font-weight: 800;
}
.fdo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #000;
    color: wheat;
    font-size: 36px;
}
.hul{
    margin-top: 20px;
    display: flex;
    align-items: center;justify-content: center;
}
li{
margin: 0 20px;
}
.ali{
    font-size: 60px;
}
.dp{
width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover;
}
@media screen and (max-width:567px){
  h1{
    font-size: 40px;
  }
  .fdo{
    font-size: 26px;
  }
  .ali{
    font-size: 35px;
  }
}